.wrapper-xs.bg-light.b-b
  .panel.panel-primary.no-border
    .panel-heading.font-thin.h4
      | Manage JD
    .panel-body(style="padding-top:0")
      .wrapper-xs.bg-light.b-b
        .row
          .col-md-6
            ul.nav.nav-pills.nav-sm
              li.m-r-xs(ng-repeat="state in ManageJd.allStatus" ui-sref-active="active")
                a(ui-sref="jobs-manage-jd({status:state})")
                  span(ng-bind="state")
                  b.badge.pull-right.bg-info(ng-bind="ManageJd.meta.jobsCount[$index].count" )
          .col-md-6
            i.input-group.pull-right.col-md-9
              input.form-control.wrapper-xs(type='text' placeholder='Search Jobs' ng-model='query.$' )
              a.input-group-addon.bg-info(uib-tooltip='Search' tooltip-placement='left' )
                i.text-white.fa.fa-search

      .m-b-xs.hbox.m-t-xl(ng-show='ManageJd.jobs.length === 0')
        .col: h1.text-center.text-muted(ng-if='!ManageJd.ui.loading') No Jobs
      table.table.m-b-none.manage-jd(ng-hide='ManageJd.jobs.length === 0' ng-init="color={'High Priority':'success','Open': 'info', 'Hold': 'warning', 'Closed': 'danger'}" before-bottom='ManageJd.loadJobs()')
        thead
          tr
            th(style="width:5%" ng-hide="ManageJd.pageStatus == 'Accepted'") Accept
            th(style="width:5%" ng-hide="ManageJd.pageStatus == 'Hidden'") Hide
            th(style="width:5%" ng-hide="ManageJd.pageStatus == 'Rejected'") Reject
            th(ng-click="ManageJd.orderBy('owner')") Client&nbsp;
              i.fa(ng-class="'fa-sort-amount' + ((ManageJd.order == '-owner')? '-desc':'-asc')")
            th.col-xs-2(ng-click="ManageJd.orderBy('role')") Job Title&nbsp;
              i.fa(ng-class="'fa-sort-amount' + ((ManageJd.order == '-role')? '-desc':'-asc')")
            th(ng-click="ManageJd.orderBy('region')") Location&nbsp;
              i.fa(ng-class="'fa-sort-amount' + ((ManageJd.order == '-region')? '-desc':'-asc')")
            th(ng-click="ManageJd.orderBy('max_sal')") CTC(Lacs)&nbsp;
              i.fa(ng-class="'fa-sort-amount' + ((ManageJd.order == '-max_sal')? '-desc':'-asc')")
            th(ng-click="ManageJd.orderBy('priority')") Priority&nbsp;
              i.fa(ng-class="'fa-sort-amount' + ((ManageJd.order == '-priority')? '-desc':'-asc')")
            th(ng-click="ManageJd.orderBy('score')") Score&nbsp;
              i.fa(ng-class="'fa-sort-amount' + ((ManageJd.order == '-score')? '-desc':'-asc')")
            th(ng-click="ManageJd.orderBy('payment')" ) Payment Model&nbsp;
              i.fa(ng-class="'fa-sort-amount' + ((ManageJd.order == '-payment')? '-desc':'-asc')")

        tbody
          tr.animate-repeat.bg-white(ng-repeat='job in ManageJd.jobs| orderBy:ManageJd.order |  filter:query' ng-animate="'animate'" ng-init="job.oldResponseId=job.response_id" ng-class="job.oldResponseId!=job.response_id ? 'removing':''" )
            td.wrapper-md(ng-repeat="value in (ManageJd.pageStatus == 'Accepted'? [2,3]:(ManageJd.pageStatus == 'Hidden'?[1,3]:ManageJd.pageStatus == 'Rejected'?[1,2]:[1,2,3]))" )
              input.with-font(type="radio" id="radio_{{job.allocation_id}}_{{value}}" name="radio_{{job.allocation_id}}" ng-model="job.response_id"  ng-value="value" ng-change="ManageJd.updateResponse(job)")
              label(for="radio_{{job.allocation_id}}_{{value}}")
            td.wrapper-md: a(ui-sref='jobs-manage({jobId: job.id, bucket: "Pending Feedback" })' ng-bind="job.owner_company")
            td.wrapper-md(ng-bind="job.role")
            td.wrapper-md(ng-bind="job.region")
            td.wrapper-md(ng-bind="job.min_sal + ' - ' + job.max_sal")
            td.wrapper-md(ng-bind="job.priority" class="text-{{color[job.priority]}}-dker")
            td.wrapper-md(ng-bind="job.score")
            td.wrapper-md(ng-bind="job.payment")

        tfoot
          tr
            td
              button.pull-right.btn.active.m-t-xs(ng-if="ManageJd.ui.loading")
                i.fa.fa-circle-o-notch.fa-spin
                strong &nbsp;Loading
              button.pull-right.btn.btn-primary.m-t-xs(ng-if="ManageJd.ui.lazyLoad" ng-click="ManageJd.loadJobs()")
                i.fa.fa-plus-circle
                strong &nbsp;Load More
            td
            td
            td
