div
  directive-header(viewdata="JobView" buttons="{interviews:false,references:true,buckets:true,share:true,list:true,upload:true,viewApplicants:true,highlight:'upload'}" App="App")
  .hbox.hbox-auto-xs.hbox-auto-sm
    .col.col-.clearfix.wrapper-xs

      //- Job top cover container
      .m-t-xl.clearfix
        .pull-left.w-sm.bg-light.dker
          img.w-full(src='{{JobView.data._root_.logo}}')
        .bg-white-only.clearfix: .wrapper-xs.clear
          strong.wrapper-xs.h3 {{JobView.data.client_name}}

          //- Job status label
          .pull-right
            .label.wrapper-xs.bg-danger.lt(ng-if='JobView.data.job_status === "Closed"')
              span.padder.h5 Closed
            .label.wrapper-xs.bg-success.dker(ng-if='!(JobView.data.job_status === "Closed")')
              span.padder.h5 Open

          .wrapper-xs.h4 {{JobView.data.role}}
          .pull-left.text-muted
            .h4.wrapper-xs
              i.fa.fa-lg.fa-inr.text-dark-lter
              | &nbsp; {{JobView.data.min_sal}}–{{JobView.data.max_sal}} Lakhs
            .h4.wrapper-xs
              i.fa.fa-lg.fa-map-marker.text-danger-lt
              | &nbsp; {{JobView.data.job_location}}

      .panel.bg-white-only.b-t.h5: .panel-body.wrapper-sm
        .hbox(ng-if='JobView.data.min_exp && JobView.data.max_exp')
          .col.thumb-lg.clearfix: strong.pull-right Experience: &nbsp;
          .col  {{JobView.data.min_exp}} – {{JobView.data.max_exp}} Years

        .m-t-xs
        .hbox(ng-if='JobView.data.degrees')
          .col.thumb-lg.clearfix: strong.pull-right Qualifications: &nbsp;
          .col: span {{JobView.data.degrees.join(', ')}}

      //- Job Responsibility
      .m-t-xs(ng-if='JobView.data.responsibility')
        .panel.no-border.m-n
          .w-full.wrapper-xs.panel-heading-info.lt: strong.m-l-xs Duties and Responsibility
          .panel-body.bg-light.dk(ng-bind-html="JobView.responsibility" style='word-break: break-all;')

      //- Job Details
      .bg-white-only.m-t-xs.wrapper-md
        .h5.text-black-dker.font-bold.m-t-xs About Us
        .h4.text-info-dker.m-t-xs
          | {{JobView.data.client_name}}
          i.text-muted(ng-if='JobView.data._root_.min_emp && JobView.data._root_.max_emp')
            | &nbsp; ({{JobView.data._root_.min_emp}} - {{JobView.data._root_.max_emp}} Employee)
        .m-t-xs
        p.text-muted {{JobView.data._root_.description}}
        p.text-muted(ng-if='JobView.data._root_.website') Website: {{JobView.data._root_.website}}
        p.text-muted
          a(ng-href='{{JobView.data._root_.apple_store_link}}' ng-if='JobView.data._root_.apple_store_link'): i.fa-lg.fa.fa-apple.wrapper-xs
          a(ng-href='{{JobView.data._root_.playstore_link}}' ng-if='JobView.data._root_.playstore_link'): i.fa-lg.fa.fa-android.wrapper-xs
          a(ng-href='{{JobView.data._root_.windiows_store_link}}' ng-if='JobView.data._root_.windiows_store_link'): i.fa-lg.fa.fa-windows.wrapper-xs

        .h4.m-t-xs.m-b-xs(ng-if='JobView.data.required_skills || JobView.data.optional_skills') Skills
        .h5.clearfix(ng-if='JobView.data.required_skills')
          div: strong.m-t-xs.text-muted Must have
          .pull-left.text-info-dker.b-a.b-info.r.m-t-xs.m-r-xs(ng-repeat='skill in JobView.data.required_skills') &nbsp;{{skill}}&nbsp;
        .h5.m-t-sm.clearfix(ng-if='JobView.data.optional_skills')
          div: strong.text-muted Optional
          .pull-left.text-info-dker.b-a.b-info.r.m-t-xs.m-r-xs(ng-repeat='skill in JobView.data.optional_skills') &nbsp;{{skill}}&nbsp;


        .h4.m-t-sm.m-b-xs Working Days
        .h5.text-muted.clearfix {{JobView.data.days_per_week}} Days a Week ({{JobView.data.start_work_time}} to {{JobView.data.end_work_time}})
        .m-b-xs

      //- Job Information
      .m-t-xs: .panel.no-border.m-n
        .w-full.wrapper-xs.lt.panel-heading-info: strong.m-l-xs Information
        .panel-body
          .h4 Sourcing
          .wrapper-xs
            .h5 Vacancy :
              span.text-muted &nbsp; {{JobView.data.vacancy}}
            ul.padder
              li(ng-if='JobView.data.institutes')
                span.h5 Target Educational Institutions: &nbsp;
                span.h5.text-muted {{JobView.data.institutes.join(', ')}}
              li(ng-if='JobView.data.industries')
                span.h5 Target Industries: &nbsp;
                span.h5.text-muted {{JobView.data.industries.join(', ')}}
              li(ng-if='JobView.data.employers')
                span.h5 Target Companies: &nbsp;
                span.h5.text-muted {{JobView.data.employers.join(', ')}}

          .m-t-xs(ng-if='JobView.interview_addr')
            .h4.m-b-xs Interview Address
            .h5.text-muted(ng-bind-html="JobView.interview_addr")

          .m-t-xs(ng-if='JobView.interview_place_direction')
            .h4.m-b-xs Interview Place Direction
            .h5.text-muted(ng-bind-html="JobView.interview_place_direction")

    .col.w-lg: .w-lg.w-auto-xs.w-auto-sm.nav-comment.m-t-xl(ng-controller='JobCommentsController as Comments')
      div(style='position: relative; height: 100%; width: 100%; top: 0; bottom: 50px; overflow-x: hidden; background-color: #fff; overflow-wrap: break-word;' scroll-to-bottom='Comments.ui.scrollToBottom')
        ul.list-group.no-bg.pull-in
          li.list-group-item(ng-repeat='comment in Comments.data | orderBy: "created_at"')
            a.pull-left.thumb-sm.m-r-md(href=''): .fa-stack.fa-2x.text-primary
              i.fa.fa-circle.fa-stack-2x
              span.fa.fa-stack-1x.h3.fa-inverse(style="color: white;top: 15px;") {{comment.user.name[0].toUpperCase()}}

            .clear
              .text-info-dker {{comment.user.name}}
              p {{comment.body}}
              .text-muted.pull-right(title='{{comment.created_at | date: "medium"}}') {{comment.created_at | date: 'd MMM, h:mm a'}}
        div(style='height: 20px;')
      form.form.form-validation.col-xs-12.wrapper-xs.bg-white(style='position: relative; height: 50px; width: 100%; bottom: 40px; background-color: #fff;' ng-submit='Comments.insert()' name='commentForm')
        .input-group
          input.form-control(type='text' name='comment' placeholder='enter to comment' required ng-model='Comments.post.comment')
          span.input-group-btn
            button.btn.btn-default(type='sumbit' ng-disabled='commentForm.$invalid')
              i.fa.fa-paper-plane

