#dashboard  table tr td {
  font-family: 'Helvetica Neue','Lucida Grande',Tahoma,Verdana,sans-serif;
}

.btn-red {
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  color: #fff;
  border: 1px solid transparent;
  border: 1px solid transparent;
}

.btn-red:hover {
  color:#fff;
}
.b-b-dark {
  border-bottom: 1px solid #0E6486;
}

.btn-red:focus {
  border: rgba(0,0,0,0) solid 1px;
  outline: rgba(0,0,0,0) 0;
}

.btn-red:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  background-color: #b0281a;
  background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
  background-image: linear-gradient(top,#dd4b39,#b0281a);
  border: 1px solid #992a1b;
  border-top: 1px solid #992a1b;
}

#dashboard .table {
  table-layout : fixed;
}
.text-skype {
  color:#00AFF0;
}

.text-phone {
  color:#A94442;
}

#dashboard .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 4px 0px 4px 15px;
}

.p-5px {
  padding: 5px !important;
}

.col-divider {
  > div {
    border-left: 2px solid #ccc;
  }

  > div:first-child {
    border-left: 2px solid transparent;
  }
}

.panel-heading-primary {
  background-color: $brand-primary !important;
  color: #fff !important;
}

.panel-heading-warning {
  background-color: $brand-warning !important;
  color: #fff !important;
}

.panel-heading-info {
  background-color: $brand-info !important;
  color: #fff !important;
}

.panel-heading-success {
  background-color: $brand-success !important;
  color: #fff !important;
}

.panel-heading-danger {
  background-color: $brand-danger !important;
  color: #fff !important;
}


.bg-gd-dk-q .nav > li:hover > a,
.bg-gd-dk-q .nav > li:focus > a,
.bg-gd-dk-q .nav > li.active > a {
  color: #fff;
  background-color: #0c4055;
}

.text-white i,
.text-white a {
  color:white;
}

.no-padder-left {
  padding-left: 0 !important;
}

.no-padder-right {
  padding-right: 0 !important;
}

.text-company {
  font-size: 0.7em;
  font-weight: 600;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
