
.form-control.ng-invalid.ng-touched {
  border-color: red;
}

.form-control.ng-valid.ng-touched {
  border-color: #27c24c;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-image: none;
  -webkit-filter: none;
  filter: none;
  background-color: #ffffff !important;
  font-weight:bold;
  border-color:#23b7e5;
}

.cv-preview .header {
  font-size:20px;
}

.cv-preview * {
  transition: all 0.5s ease;
  -webkit-transition: all 500ms ease-out 1s;
  -moz-transition: all 500ms ease-out 1s;
  -o-transition: all 500ms ease-out 1s;
  transition: all 500ms ease-out 1s;
}

.cv-preview ul {
  list-style: none;
  padding:0;
  margin:0;
}

.cv-preview > ul > li {
  padding-left: 10px;
}
.cv-preview  ul > li:nth-of-type(even) {
  background-color:#E4E2F1 ;
}

.cv-preview > ul > li span {
  display: inline-flex;
  font-weight: bold;
  color: #000;
}

.cv-preview > ul.job-list > li span {
  color: #666;
}

.cv-preview > ul > li span:last-child {
  text-overflow: ellipsis;
  width: 270px;
  overflow: hidden;
  white-space: nowrap;
}

.cv-preview .job-list .q-touched span,
.cv-preview .job-list .q-touched {
  color:#000;
}

.cv-preview span.preview-head {
  color: #908686;
  font-weight: normal;
  min-width: 125px;
}

.cv-preview .job-header {
  margin-top:20px;
}

.text-success {
  color: #23ad44 !important;
}

.text-danger {
  color: #f05050 !important;
}

.input-file-danger {
  border:1px solid red;
}

.right-margin-20 {
  margin-right: 20px;
}

.is-dragover,
.btn-file-wrapper:hover{
  background-color: #8BC3D4 !important;
}

.no-margin {
  margin:0 !important;
}

.btn-file-wrapper {
  padding:1%;
  background-color: #C8DADF;
}

.file-support {
  font-size: 12px;
}

.btn-file {
  text-align: center;
  height: 70px;
  padding-top:5px;
  font-size: 1.5em;
  position: relative;
  overflow: hidden;
  border: 1px dashed #2B535F;
}

.btn-file .text-muted {
  font-size: 1em;
}

.btn-file span {
  font-weight: bold;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

// Hide Spinner in input number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

