div
  .hbox(before-bottom='Interviews.loadApplicants()')
    directive-header(viewdata="Interviews" buttons="{buckets:true,interviews:false,references:true,share:true,upload:true,view:true}" App="App")
    .wrapper-md
      .m-b-xs.hbox.m-t-xl(ng-if='Interviews.applicants.length === 0')
        .col: h1.text-center.text-muted(ng-if='!Interviews.ui.loading') No Applicants
      .m-t-lg
      .m-b-md.hbox(ng-repeat='applicant in Interviews.applicants')
        .col.bg-white
          .col-xs-12.col-md-12.no-padder
            .tl-content.m-none.padder.w-full.w-auto-xs
              .m-b-sm
                label.i-checks.m-b-none
                  input(type='checkbox' ng-model='applicant.checked')
                  i
                a(ui-sref='job.references-view({jobId: Interviews.job.id,referenceId: applicant.id})')
                  strong.text-primary-lt  TODO: {{applicant.name}}
                .text-danger.pull-right.m-t-n-xs(ng-bind="applicant.approval_status")
              .panel-body.pull-in.b-t.wrapper-xs
                .col-xs-4.text-ellipsis
                  i.fa.fa-bookmark(style='margin:0 2px;')
                  | {{applicant.designation}}
                .col-xs-4.text-ellipsis
                  i.fa.fa-graduation-cap
                  | {{applicant.degree_id}}
                .col-xs-4.text-ellipsis
                  i.fa.fa-inr
                  |  {{applicant.expected_salary}}&nbsp;Lakhs
                .col-xs-4.text-ellipsis
                  i.fa.fa-briefcase
                  |  {{applicant.employer}}
                .col-xs-4.text-ellipsis
                  i.fa.fa-line-chart
                  |  {{applicant.total_exp}}&nbsp;Years
                .col-xs-4.text-ellipsis
                  i.fa.fa-map-marker
                  |  {{applicant.location}}
      .col-xs-2.col-xs-offset-5
        button.pull-left.btn.active.m-t-xs(ng-if="Interviews.ui.loading")
          i.fa.fa-circle-o-notch.fa-spin
          strong &nbsp;Loading
        button.pull-left.btn.btn-primary.m-t-xs(ng-if="Interviews.ui.lazyLoad" ng-click="Interviews.loadApplicants()")
          i.fa.fa-plus-circle
          strong &nbsp;Load More
