div
  .col-md-3.no-padder.fixed-applicant-details
    div(style='position: relative; height: 100%; width: 100%; top: 0; overflow-x: hidden; overflow-wrap: break-word;')
      //- Applicant top cover container
      .wrapper-xs.bg-info.dker.m-b-xs
        .hbox.m-t-xs
          .col.thumb-lg
            .fa-stack.fa-3x.text-info-dker
              i.fa.fa-circle.fa-stack-2x.fa-inverse
              i.fa.fa-user.fa-stack-1x.fa-2x.m-t-xs
          .col.v-middle
            .h4
              | {{Applicant.data.name}}
              i.btn.text-white.fa.fa-download(ng-click='App.downloadApplicant([Applicant.data.id])' title='Download CV')

        .m-b-xs
          .hbox
            .col
              .btn-group.w-full(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
                button.w-full.btn.rounded(class='btn-{{App.states[Applicant.data.state_id].config.color}}' uib-dropdown-toggle='' ng-disabled='App.states[Applicant.data.state_id].Actions.length===0')
                  | {{Applicant.data.state_name}}&nbsp;
                  span(ng-if='App.states[Applicant.data.state_id].Actions.length>0').caret
                ul.uib-dropdown-menu(role='menu' aria-labelledby='simple-btn-keyboard-nav')
                  li(role='menuitem' ng-repeat='state in App.states[Applicant.data.state_id].Actions')
                    a(href='' ng-click='App.changeState(Applicant.data, state.state_id)') {{App.states[state.state_id].name}}

      //- Applicant Details

      //- Applicant Employee Information
      .panel.panel-default.no-border
        .panel-heading.bg-dark.lter.h4
          .h4.text-white Employee Information
        .panel-body
          .h4.m-l-xs
            .text-info-dker Designation
            .font-thin {{Applicant.data.exp_designation}}
          .h4.m-l-xs.m-t-sm
            .text-info-dker Current Company
            .font-thin {{Applicant.data.exp_employer}}
          .h4.m-l-xs.m-t-sm
            .text-info-dker Qualification
            .font-thin {{Applicant.data.edu_degree}}
          .h4.m-l-xs.m-t-sm
            .text-info-dker Location
            .font-thin {{Applicant.data.exp_location}}
          .h4.m-l-xs.m-t-sm
            .text-info-dker Current CTC
            .font-thin {{Applicant.data.exp_salary}} Lakhs
          .h4.m-l-xs.m-t-sm
            .text-info-dker Expected CTC
            .font-thin {{Applicant.data.expected_ctc}} Lakhs
          .h4.m-l-xs.m-t-sm
            .text-info-dker Work Experience
            .font-thin {{Applicant.data.total_exp | number: 0}} Years
          .h4.m-l-xs.m-t-sm
            .text-info-dker Notice Period
            .font-thin {{Applicant.data.notice_period}} Days

      //- Applicant Contact Details
      .panel.panel-default.no-border
        .panel-heading.bg-dark.lter.h4
          .h4.text-white Contact Details
        .panel-body
          .h4.m-xs
            i.fa.fa-lg.fa-phone.text-success-dker.wrapper-xs
            |  &nbsp; {{Applicant.data.mobile}}
          .h4.m-xs
            i.fa.fa-lg.fa-envelope.text-info-dker.wrapper-xs
            |  &nbsp; {{Applicant.data.email}}

      //- Applicant Skills
      .panel.panel-default.no-border(ng-if="Applicant.data.skills.length>0")
        .panel-heading.bg-dark.lter.h4
          .h4.text-white Skills
        .panel-body
          .h6.clearfix
            .pull-left.b-a.b-info.text-info-dker.m-r-xs.m-b-xs.r(ng-repeat='skill in Applicant.data.skills' style='padding: 2px;' ng-if='Applicant.data.showAllSkill || $index < 6') {{skill}}
            a.pull-left(ng-click='Applicant.data.showAllSkill = !Applicant.data.showAllSkill')
              span.font-bold.text-info-dker(ng-if='Applicant.data.showAllSkill') – Less
              span.font-bold.text-info-dker(ng-if='!Applicant.data.showAllSkill') + More

      //- Applicant Followers
      //.panel.panel-default.no-border.hide
      //  .panel-heading.bg-dark.lter.h4
      //    .h4.text-white Followers
      //    button.btn.btn-rounded.btn.btn-icon.btn-default.pull-right
      //      i.fa.fa-user-plus(ng-click='App.addFollower([Applicant.data.follower],Applicant.data.id)' title='Add Follower')
      //  .panel-body
      //    .h6.clearfix
      //      .pull-left.b-a.b-info.text-info-dker.m-r-xs.m-b-xs.r(ng-repeat='follower in Applicant.data.follower' style='padding: 2px;' ng-if='Applicant.data.showAllFollower || $index < 6') {{follower.name}}
      //      a.pull-left(ng-click='Applicant.data.showAllFollower = !Applicant.data.showAllFollower')
      //        span.font-bold.text-info-dker(ng-if='Applicant.data.showAllFollower') – Less
      //        span.font-bold.text-info-dker(ng-if='!Applicant.data.showAllFollower') + More

    //- Resume container
  .col-md-6.no-padder.fixed-resume
    div(style='position: relative; height: 100%; width: 100%; top: 0; overflow: hidden;')
      iframe.h-full.b-a.b-light.w-full(ng-src='{{Applicant.trustSrc(Applicant.resumeSrc)}}')

  .col-md-3.nav-comment.no-padder(ng-controller='ApplicantCommentsController as Comments')
    .col-xs-12(style='position: relative; height: 100%; width: 100%; top: 0; bottom: 50px; overflow-x: hidden; background-color: #fff; overflow-wrap: break-word;' scroll-to-bottom='Comments.ui.scrollToBottom')
      .col
        .hbox.b-b.padder-v(ng-repeat='comment in Comments.data | orderBy: "created_at"')
          .col.text-center.thumb-sm
            .fa-stack.fa-2x.text-primary
              i.fa.fa-circle.fa-stack-2x
              span.fa.fa-stack-1x.h3.fa-inverse {{comment.user.name[0]}}
          .col.clearfix
            .col-xs-12
              .text-info-dker {{comment.user.name}}
              .text-danger-dker {{App.states[comment.state_id].name}}
              .text-success.dk {{comment.scheduled_on | date: 'MMM d, yyyy h:mm a'}}
              p {{comment.body}}
              .text-muted.pull-right(title='{{comment.created_on | date: "medium"}}') {{comment.created_at | date: 'd MMM, h:mm a'}}
        .hbox(style='height: 40px;')
    form.form.form-validation.col-xs-12.wrapper-xs.bg-white.col-xs-12(style='position: relative; height: 50px; width: 100%; bottom: 40px; background-color: #fff;' ng-submit='Comments.insert()' name='commentForm')
      .input-group
        input.form-control(type='text' name='comment' placeholder='enter to comment' ng-model='Comments.post.comment' required)
        span.input-group-btn
          button.btn.btn-default(type='sumbit' ng-disabled='commentForm.$invalid')
            i.fa.fa-paper-plane
