//div(ng-controller='NavJobsController as Job' style='position: relative;')
#navigationJobs( style='position: relative;')
  .w.nav-job
    .wrapper-xs
      a.btn.btn-red.form-control.font-bold(uib-tooltip='Manage JD(s)' tooltip-placement='right' ui-sref='jobs.list' href="#/jobs") MANAGE JD(s)
    .bg-dark.lt.w(style='position: relative;  overflow-y: scroll; overflow-x: hidden; height: 100%; width: 212px;' ng-init="navigationJobs.toggle={open:true,hold:false,closed:false}")
      .input-group
        input.form-control.wrapper-xs(type='text' placeholder='Search Position' ng-model='navigationJobs.searchText.$')
        a.input-group-addon(uib-tooltip='Enter Job Details to Search' tooltip-placement='right')
          //.bg-danger
          i.text-dark.fa.fa-search
      .m-t-sm
      .m-l-xs.h5.text-info-lt.font-bold(ng-if='navigationJobs.job_open || navigationJobs.job_high'  ng-click="navigationJobs.toggle.open= !navigationJobs.toggle.open")
        span.text-white.font-bold.h5(uib-tooltip="{{navigationJobs.toggle.open?'Collapse':'Expand' }}" tooltip-placement="right")
          i.fa(ng-class="navigationJobs.toggle.open?'fa-angle-down':'fa-angle-right'")
          |  &nbsp;&nbsp;
          i.fa.fa-folder-open-o.text-success
          |  &nbsp;&nbsp;OPEN&nbsp;
          b.badge-bracket(ng-bind="JOpen.length")
      ul.m-t-xs.nav
        li.b-b-dark(ng-show="navigationJobs.toggle.open" ng-repeat='job in JOpen = (navigationJobs.jobs | filter: navigationJobs.searchText | filterAlt: {job_status: ["Open","High Priority"] })'
        ng-init='$first ? (navigationJobs.job_high = navigationJobs.job_open = true): null'
        ng-class="{active: job.id == App.$state.params.jobId}"
        ui-sref-active='active')
          a.text-ellipsis.m-l-md(ng-href="{{navigationJobs.jobHref(job.id)}}" uib-tooltip="{{job.role}} / {{job.owner_name}}" tooltip-placement='right' tooltip-append-to-body='true')
            span.text-white(ng-bind='job.owner_name')
            b.badge.pull-right.text-white(ng-bind="job.consultant_score" ng-class="job.consultant_score > 8 ?'bg-danger':'bg-info'")
            br
            span(ng-bind="job.role")
      .m-t-sm
      .m-l-xs.h5(ng-if='navigationJobs.job_hold' ng-click="navigationJobs.toggle.hold= !navigationJobs.toggle.hold")
        span.text-white.font-bold.h5(uib-tooltip="{{navigationJobs.toggle.hold?'Collapse':'Expand' }}" tooltip-placement="right")
          i.fa(ng-class="navigationJobs.toggle.hold?'fa-angle-down':'fa-angle-right'")
          |  &nbsp;&nbsp;
          i.fa.fa-folder-open(style="color:#E28633")
          |  &nbsp;&nbsp;HOLD&nbsp;
          b.badge-bracket(ng-bind="JHold.length")
      ul.m-t-xs.nav
        li(ng-show="navigationJobs.toggle.hold"  ng-repeat='job in JHold = (navigationJobs.jobs | filter: navigationJobs.searchText | filter: {job_status: "Hold"})' ng-init='$first ? (navigationJobs.job_hold = true): null' ui-sref-active='active')
          a.text-ellipsis.m-l-md(ng-href="/jobs/{{job.id}}{{targetStateName}}" uib-tooltip="{{job.role}}" tooltip-placement='right' tooltip-append-to-body='true')
            span.text-white(ng-bind='job.owner_name')
            b.badge.pull-right.text-white(ng-bind="job.consultant_score" ng-class="job.consultant_score > 8?'bg-danger':'bg-info'")
            br
            span(ng-bind="job.role")
      .m-t-sm
      .m-l-xs.h5(ng-if='navigationJobs.job_closed' ng-click="navigationJobs.toggle.closed= !navigationJobs.toggle.closed" )
        span.text-white.font-bold.h5(uib-tooltip="{{navigationJobs.toggle.closed?'Collapse':'Expand' }}" tooltip-placement="right")
          i.fa(ng-class="navigationJobs.toggle.closed?'fa-angle-down':'fa-angle-right'")
          |  &nbsp;&nbsp;
          i.fa.fa-folder.text-danger
          |  &nbsp;&nbsp;CLOSED&nbsp;
          b.badge-bracket(ng-bind="JClosed.length")
      ul.m-t-xs.nav
        li(ng-show="navigationJobs.toggle.closed"  ng-repeat='job in JClosed = (navigationJobs.jobs | filter: navigationJobs.searchText | filter: {job_status: "Closed"})' ng-init='$first ? (navigationJobs.job_closed = true): null' ui-sref-active='active')
          a.text-ellipsis.m-l-md(ng-href="/jobs/{{job.id}}{{targetStateName}}" uib-tooltip="{{job.role}}" tooltip-placement='right' tooltip-append-to-body='true')
            span.text-white(ng-bind='job.owner_name')
            b.badge.pull-right.text-white(ng-bind="job.consultant_score" ng-class="job.consultant_score > 8?'bg-danger':'bg-info'")
            br
            span(ng-bind="job.role")
