.m-t-xl.clearfix
  .pull-left.bg-light.dker
    img.w-full(src='{{job._root_.logo}}' style="width:60px;height:60px")
  .bg-white-only.clearfix: .wrapper-xs.clear
    .h4.m-l-xxs
      span {{job.role}}
      span ,&nbsp;
      strong.h5.text-muted {{job.client_name}}
    //- Job status label
    span.pull-right
      .label.wrapper-xs.bg-danger.lt(ng-if='job.job_status === "Closed"')
        span.padder.h5 Closed
      .label.wrapper-xs.bg-success.dker(ng-if='!(job.job_status === "Closed")')
        span.padder.h5 Open
    .text-muted
      .row
        .col-md-2
          .h4.wrapper-xs
            i.fa.fa-lg.fa-inr.text-dark-lter
            | &nbsp; {{job.min_sal}}–{{job.max_sal}} Lakhs
        .col-md-2
          .h4.wrapper-xs
            i.fa.fa-lg.fa-map-marker.text-danger-lt
            | &nbsp; {{job.job_location}}
        .col-md-2
          .h4.wrapper-xs
            i.fa.fa-lg.fa-users.text-dark-lter
            | &nbsp; Vacancy {{job.vacancy}}
        .col-md-2(ng-if="job.min_exp")
          .h4.wrapper-xs
            i.fa.fa-lg.fa-line-chart.text-danger-lt
            | &nbsp; {{job.min_exp}}-{{job.max_exp}} Years
