.hbox
  .col.w.bg-black
    ul.nav
      li.padder.m-t.m-b-sm.text-muted.text-xs
        span Navigation
      li
        a.auto(href='')
          span.pull-right.text-muted
            i.fa.fa-fw.fa-angle-right.text
            i.fa.fa-fw.fa-angle-down.text-active
          i.glyphicon.glyphicon-stats.icon.text-primary-dker
          span.font-bold(translate='aside.nav.DASHBOARD') Preferences

      li.hide(ui-sref-active='active')
        a(ui-sref='settings')
          i.glyphicon.glyphicon-calendar.icon.text-info-dker
          span.font-bold Notifications

  div.hbox.wrapper-xs
  div.m-t-xl.padder.no-margin
    div
      h2.no-margin Preferences
      h2 CTC
      h3 What is the CTC Range you would like to work on?
      .row(ng-init="ctcRange={}")
        .col-md-3
          ul.nav
            li: label.i-checks
              input(type="checkbox" ng-model="ctcRange.junior" ng-change="Preferences.data.ctcRange[0].selected = Preferences.data.ctcRange[1].selected = ctcRange.junior;")
              i
              .hide(ng-bind="ctcRange.junior  = Preferences.data.ctcRange[0].selected&& Preferences.data.ctcRange[1].selected ")
              | Junior
        .col-md-3
          ul.nav
            li: label.i-checks
              input(type="checkbox" ng-model="ctcRange.mid" ng-change="Preferences.data.ctcRange[2].selected =  Preferences.data.ctcRange[3].selected = ctcRange.mid;")
              i
              .hide(ng-bind="ctcRange.mid  = Preferences.data.ctcRange[2].selected  && Preferences.data.ctcRange[3].selected ")
              | Mid
        .col-md-3
          ul.nav
            li: label.i-checks
              input(type="checkbox" ng-model="ctcRange.senior" ng-change="Preferences.data.ctcRange[4].selected = Preferences.data.ctcRange[5].selected = Preferences.data.ctcRange[6].selected = ctcRange.senior;")
              i
              .hide(ng-bind="ctcRange.senior  = Preferences.data.ctcRange[4].selected  && Preferences.data.ctcRange[5].selected  && Preferences.data.ctcRange[6].selected")
              | Senior
        .col-md-3
          ul.nav
            li: label.i-checks
              input(type="checkbox" ng-model="ctcRange.all" ng-change="Preferences.toggleSelect(Preferences.data.ctcRange,ctcRange.all)")
              i
              .hide(ng-bind="ctcRange.all  = ctcRange.junior&& ctcRange.mid  && ctcRange.senior  ")
              | All
      .line.line-solid.line-lg.pull-in.b-b
      .row
        .col-md-3
          ul.nav
            li: label.i-checks
              input(type="checkbox" ng-model="Preferences.data.ctcRange[0].selected")
              i
              | {{ Preferences.data.ctcRange[0].min }} - {{ Preferences.data.ctcRange[0].max }}
            li: label.i-checks
              input(type="checkbox" ng-model="Preferences.data.ctcRange[1].selected")
              i
              | {{ Preferences.data.ctcRange[1].min }} - {{ Preferences.data.ctcRange[1].max }}
        .col-md-3
          ul.nav
            li: label.i-checks
              input(type="checkbox" ng-model="Preferences.data.ctcRange[2].selected")
              i
              | {{ Preferences.data.ctcRange[2].min }} - {{ Preferences.data.ctcRange[2].max }}
            li: label.i-checks
              input(type="checkbox" ng-model="Preferences.data.ctcRange[3].selected")
              i
              | {{ Preferences.data.ctcRange[3].min }} - {{ Preferences.data.ctcRange[3].max }}

        .col-md-3
          ul.nav
            li: label.i-checks
              input(type="checkbox" ng-model="Preferences.data.ctcRange[4].selected")
              i
              | {{ Preferences.data.ctcRange[4].min }} - {{ Preferences.data.ctcRange[4].max }}
            li: label.i-checks
              input(type="checkbox" ng-model="Preferences.data.ctcRange[5].selected")
              i
              | {{ Preferences.data.ctcRange[5].min }} - {{ Preferences.data.ctcRange[5].max }}
            li: label.i-checks
              input(type="checkbox" ng-model="Preferences.data.ctcRange[6].selected")
              i
              | {{ Preferences.data.ctcRange[6].min }} - {{ Preferences.data.ctcRange[6].max }}
      h3.no-margin Functions
      div
        span.btn.m-xs(ng-repeat="function in Preferences.data.functionList" ng-class="function.selected ? 'btn-info':'btn-default'" ng-click="function.selected =!function.selected")
          | {{function.name}}&nbsp;&nbsp;
          span.fa(ng-class="function.selected ? 'fa-close text-white':'fa-plus text-info'")
      h3.no-margin Industry
      div
        span.btn.m-xs(ng-repeat="function in Preferences.data.industryList" ng-class="function.selected ? 'btn-info':'btn-default'" ng-click="function.selected =!function.selected")
          | {{function.name}}&nbsp;&nbsp;
          span.fa(ng-class="function.selected ? 'fa-close text-white':'fa-plus text-info'")
